* {
    box-sizing: border-box;
    font-family: sans-serif;
    
   }
  
  html, body, #root {
    padding: 0;
    margin: 0;
    height: 100%;
  }
  
  body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/240/889/original/abstract-comic-book-background-design-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: azure;
    width: 100%;
  }